@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {
    /* colors */
    --accent1: rgb(22, 194, 22);
    --accent2: rgb(4, 187, 141);
    --white-dark: rgb(224, 224, 224);
    --white-darker: rgb(190, 190, 190);
    --white: rgb(255, 255, 255);
    --font-clr-accent: rgb(24, 24, 68);
    --font-clr-primary: rgb(59, 59, 59);
    --scrollbarBG: rgba(0, 0, 0, 0);
    --thumbBG: rgba(136, 132, 132, 0.314);
    --trash : rgb(252, 61, 61);
    
    /* fonts */
    --font-smaller: 1.4rem;
    --font-small: 1.7rem;
    --font-big: 2.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    font-size: 62.5%;
}

/* ------ Clock container --------*/
#container {
    width: 100%;
    height: 100vh;
    background: var(--white-dark);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --------- Clock Face ------ */
#card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    max-width: 50rem;
    color: rgb(59, 59, 59);
    text-align: center;
    padding: 5rem 3.5rem;

    border-radius: 50px;
    background: var(--white-dark);
    box-shadow: 8px 8px 16px var(--white-darker),
        -8px -8px 16px var(--white);
}

#main_head{
    font-size: var(--font-big);
}

#curr_time {
    color: var(--accent1);
    font-size: var(--font-big);
    margin-bottom: 1.6rem;
}

#set_alarm {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6rem;
}

#set_alarm input,
#am_pm {
    border: none;
    width: 6.5rem;
    height: 4rem;
    font-size: var(--font-small);
    font-weight: 600;
    color: var(--font-clr-accent);
    background: var(--white-dark);
    outline: none;
    border-radius: 5px;
    padding: 1rem;
}


#am_pm {
    width: 6.8rem;
    height: 4rem;
}

#set_alarm .colon {
    font-size: var(--font-small);
    font-weight: 900;
    color: var(--font-clr-accent);
}

#set_alarm_btn {
    font-size: var(--font-smaller);
    font-weight: 600;
    text-transform: uppercase;
    background: linear-gradient(to bottom, var(--accent1), var(--accent2));
    color: var(--white);
    padding: .6rem 1rem;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: .1rem;
}
#set_alarm_btn:hover{
    background: linear-gradient(to bottom, var(--accent2), var(--accent1));
}

#small_head {
    color: var(--font-clr-accent);
    font-size: var(--font-small);
    text-align: left;
    width: 92%;
}

/*----------- List of alarms--------- */

#alarms{
    width: 92%;
    height: 25rem;

    overflow-y: scroll;
}
/* custom scrollbar */
#alarms::-webkit-scrollbar {
    width: 5px;
  }
  #alarms {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  #alarms::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  #alarms::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }
/* ----------------------- */
.alarm{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: var(--font-clr-primary);
    font-size: var(--font-small);
    width: 100%;
    padding: 2rem 1.5rem;
}
.fa-bell{
    color: var(--accent2);
}
.alarm .fa-trash{
    font-size: var(--font-smaller);
    font-weight: 600;
    letter-spacing: .1rem;
    border: 0;
    color: var(--trash);
    padding: 0.5rem 1rem;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    html{
        font-size: 50%;
    }
    #card{
        flex-wrap: wrap;
        width: 60vh;
    }
    #set_alarm{
        flex-wrap: wrap;
    }
    #set_alarm #am_pm{
        width: 10rem;
    }
<<<<<<< HEAD
  }
=======
  }
>>>>>>> 86eafc7daf45eb5e033fba3f51cc9ce1694b8981
