@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {
    /* light mode colors */
    --accent1: rgb(22, 194, 22);
    --accent2: rgb(4, 187, 141);
    --white-dark: rgb(224, 224, 224);
    --white-darker: rgb(190, 190, 190);
    --white: rgb(255, 255, 255);
    --font-clr-accent: rgb(24, 24, 68);
    --font-clr-primary: rgb(59, 59, 59);
    --scrollbarBG: rgba(0, 0, 0, 0);
    --thumbBG: rgba(136, 132, 132, 0.314);
    --trash : rgb(252, 61, 61);
    

    /* Dark mode colors */

    --dark: #12273a; 
    --darker: rgb(16, 34, 50);
    --darkest: #0e1d2b;


    /* fonts */
    --font-smaller: 1.4rem;
    --font-small: 1.7rem;
    --font-big: 2.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



html{
    font-size: 62.5%;
}

/* ------ Clock container --------*/
.container {
    width: 100%;
    height: 100vh;
    background: var(--white-dark);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}



/* --------- Clock Face ------ */
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    max-width: 50rem;
    color: rgb(59, 59, 59);
    text-align: center;
    padding: 5rem 3.5rem;

    border-radius: 50px;
    background: var(--white-dark);
    box-shadow: 8px 8px 16px var(--white-darker),
        -8px -8px 16px var(--white);

}



#main_head{
    font-size: var(--font-big);
}

#curr_time{
    font-size: var(--font-big);
    margin-bottom: 1.6rem;
}

.time_light{
    color: var(--accent1);
}


#set_alarm {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6rem;
}

#set_alarm input,
#am_pm {
    border: none;
    width: 6.5rem;
    height: 4rem;
    font-size: var(--font-small);
    font-weight: 600;
    outline: none;
    border-radius: 5px;
    padding: 1rem;
}

.input_light{
    color: var(--font-clr-accent);
    background: var(--white-dark);
}


#am_pm {
    width: 6.8rem;
    height: 4rem;
}

#set_alarm .colon {
    font-size: var(--font-small);
    font-weight: 900;
}

.colon_light{
    color: var(--font-clr-accent);
}

#set_alarm_btn {
    font-size: var(--font-smaller);
    font-weight: 600;
    text-transform: uppercase;
    padding: .6rem 1rem;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: .1rem;
}

.btn_light{
    background: var(--accent1);
    color: var(--white);
}

#small_head {
    font-size: var(--font-small);
    text-align: left;
    width: 92%;
}

.head_light{
    color: var(--font-clr-accent);
}

/*----------- List of alarms--------- */

#alarms{
    width: 92%;
    height: 20rem;
    
    overflow-y: scroll;
}
/* custom scrollbar */
#alarms::-webkit-scrollbar {
    width: 5px;
}
#alarms {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
#alarms::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
#alarms::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}
/* ----------------------- */
.alarm{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: var(--font-small);
    width: 100%;
    color: inherit;
    padding: 2rem 1.5rem;
}

.fa-bell{
    color: var(--accent2);
}
.alarm .fa-trash{
    font-size: var(--font-smaller);
    font-weight: 600;
    letter-spacing: .1rem;
    border: 0;
    color: var(--trash);
    padding: 0.5rem 1rem;
    cursor: pointer;
}




/* dark mode classes */
.container_dark{
    background: var(--darker);
}

.card_dark{
    color: var(--white-darker);
    background: var(--darker);
    box-shadow: 8px 8px 16px var(--darkest),
        -8px -8px 16px var(--dark);
}

.time_dark{
    color: var(--accent2);
}
.input_dark{
    color: var(--white-darker);
    background: var(--darker);
}
.colon_dark{
    color: var(--white-darker);
}
.btn_dark{
    background: var(--accent2);
    color: var(--dark);
}
.head_dark{
    color: var(--white-darker);
}



@media screen and (max-width: 768px) {
    html{
        font-size: 50%;
    }
    #card{
        flex-wrap: wrap;
        width: 60vh;
    }
    #set_alarm{
        flex-wrap: wrap;
    }
    #set_alarm #am_pm{
        width: 10rem;
    }
  }
